# Gloabl Config
DEBUG = True
PORT = 8080

# SQLALCHEMY Configs
SQLALCHEMY_DATABASE_URI = "mysql://username:password@hostname/database"
SQLALCHEMY_TRACK_MODIFICATIONS = True
SQLALCHEMY_ECHO = True

# Cryptography
SECRET_KEY = "my_secret_key"
RANDOM_GENERATOR_LENGTH = 256
CRYPTO_HARD_SALT = "hardsalt"
